                /*----------------- Home--------------------- */
                .cont_fluid {
                    margin-top: 12vh !important;
                }

                .sub_carousel {
                    width: 30vh !important;
                }

                .products_row {
                    padding: 3vh 6vh !important;
                }

                /*----------------- Navbar--------------------- */
                .padding_nav {
                    background-color: #FF5722 !important;
                    padding: 0vh 7vh !important;
                }

                .dropdown_menu {
                    border-top: 5px solid #FF5722 !important;
                }

                .bgs {
                    background-color: #FF5722 !important;
                }

                /*------------------------- Cart ---------------------*/
                .textColor {
                    color: #FF5722 !important;
                }

                .btnbg {
                    background-color: #FF5722 !important;
                }

                /*-----------------------admin ----------------------*/
                .small_text{
                    font-size: 2vh;
                }
              
                @media screen and (max-width: 890px) and (min-width: 50px) {
                    .carousel_img {
                        height: 40vh !important;
                    }

                    .products_row {
                        padding: 3vh 0vh !important;
                    }

                    /*----------------- Navbar--------------------- */
                    .padding_nav {
                        padding: 2vh 0vh !important;
                    }
                    .card_cont{
                        width: 100% !important;
                    }
                }